/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset end*/


* {
	box-sizing: border-box;
/*	background-color: black;*/
}

.wrap {
	background-color:#FBFEFF;
	background-image: linear-gradient(transparent 2px, transparent 2px),
	linear-gradient(90deg, transparent 2px, transparent 2px),
	linear-gradient(rgba(34,102,153,.25) 1px, transparent 1px),
	linear-gradient(90deg, rgba(34,102,153,.25) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	text-align: center;
	height: 100%;
}


@font-face {
	font-family: 'KG Summer Sunshine', cursive;
	src:(../fonts/KGSummerSunshine.ttf);
}

h1 {
	font-family: 'KG Summer Sunshine', cursive;
	font-size: 3rem;
	text-align: left; 
}

/*font-family: 'Nunito', sans-serif;
font-family: 'Gaegu', cursive;*/	
#hiddenExportCanvas{
	/*display: none;*/
}

canvas{
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.svg{
	display: inline-block;
}

svg {
	/*width: 3000px !important; 
	height: 3000px !important;
	max-width: 80vw;
	max-height: 90vh;*/
}			

img {
	width:80%;
}

.displayColor {
    width:90px;
    height:90px;
    border:1px solid blue;
}


