body {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2378e7ff' fill-opacity='0.75'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 96vw
}

img,
object,
svg {
    width: 100%;
    height: auto
}

h2 {
    font-family: 'Gaegu', cursive;
    font-size: 1rem;
    margin: 0
}

.logo {
    margin: 0 auto
}
#logoTitle{
    width: 40%;
    margin: 1rem;
    
}

.heading {
    display: none
}

.spacing {
    margin-bottom: 5%
}

.words {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-top: -1.5rem;
}

.words > * {
    margin-right: 5%
}

.corner {
    margin: 0;
    border: 0;
    padding: 0;
    width: 10vw;
    position: absolute
}

.corner object,
img,
object {
    max-width: 100%
}

#topCorner {
    margin-left: 85vw;
    margin-top: -6vw
}

#bottomCorner {
    margin-top: -5vw
}

.page {
    width: 84vw;
    margin: 0 auto
}

.page:hover {
    cursor: url(../assets/paintbrush.png), auto
}

.morePages {
    margin: 3vw auto 0;
    width: 64vw;
    display: flex;
    flex-flow: row
}

#artistName{ 
    
    font-family: 'Gaegu', cursive;
    text-align: right;}

.arrow {
    width: 6vw
}

.morePics {
    width: 50vw;
    text-align: center
}

.colorWheel img {
    margin-top: 20vw
}

#color-wheel-canvas,
.colorWheel img {
    position: absolute;
    width: 90vw;
    margin: 0 auto;
    margin-left: -20vw;
    order: 1;
}

#color-wheel-canvas:hover {
    cursor: crosshair
}

.tools {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin: 2vw auto;
    width: 50vw;
    display: flex;
    flex-flow: row;
    order: 2;
    margin-top: 18vw;
}

.buttons object {
    width: 12vw;
    height: 12vw;
    margin-left: 10vw
}

.canvas-history {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -100
}
#colorWheelImg{ display: none; }

@media screen and (min-width:768px) {
    h1 {
        font-size: 3.375rem
    }
    h2 {
        font-size: 2rem
    }
    .heading {
        display: block;
        position: absolute;
        width: 100%;
    }
    .main {
        display: flex;
        flex-flow: row-reverse;
        width: 768px;
        margin: 0 auto
    }
    .tools {
        width: 16.5rem;
        margin-top: 7rem;
        display: block;
    }
    .buttons{ margin-top: 0;}
    .colorWheel {
        display: block;
        width: 16.25rem;
        margin: 0 auto
    }
    .colorWheel img {
        width: 16.5rem
    }
    #color-wheel-canvas {
        width: 25%;
        margin: 0 auto;
    }
    #colorWheelImg{ display: block; }
    #colorWheelImg2{ display: none; }
    .buttons {
        width: 14.375rem
    }
    .buttons object {
        width: 3.625rem;
        height: 3.625rem
    }
    .pageGroup {
        margin: 2.2rem 2.2rem 2.2rem 1.6rem
    }
    .corner {
        width: 3.5rem
    }
    #topCorner {
        margin-left: 24.5rem;
        margin-top: -1.8rem
    }
    #bottomCorner {
        margin-top: -2.3rem;
        margin-left: -1.4rem
    }
    .page {
        width: 26.25rem
    }
    .page:hover {
        cursor: url(assets/paintbrush.png), auto
    }
    .morePages {
        width: 25rem;
        margin-top: 2rem
    }
    .arrow {
        width: 2.25rem
    }
    .morePics {
        width: 20rem
    }
    #pickedColor {
        background-color: #1074b0;
        border: 3px solid #000;
        border-radius: 25px;
        height: 75px;
        margin: 25px auto;
        width: 75px
    }
}

@media screen and (min-width:1024px) {
    #heading {
        width: 100vw
    }
    .main {
        width: 1024px
    }
    #topCorner {
        margin-left: 32.5rem
    }
    .page {
        width: 34.5rem
    }
    .tools {
        margin-right: 2rem
    }
    .colorWheel,
    .tools {
        width: 20.25rem
    }
    .colorWheel img {
        margin-left: 1rem
    }
    .buttons {
        width: 15rem
    }
    .buttons object {
        width: 4rem;
        height: 4rem
    }
    #eraser {
        margin-left: 0
    }
    #color-wheel-canvas {
        width: 20%
    }
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}
